@media (min-width: 992px) {
    .largura-pc {
        width: 60%; /* Ajuste o valor conforme necessário */
    }
}
.navbar-nav {
    margin-right: 1rem !important; /* Ajuste o valor conforme necessário */
}
.p-3{
    background-color: #537A72;
}
.bi{
    padding-right: 5px;
}
.space{
    height: 50%;
    margin-top: 5%;
}
/* Contêiner principal da grid */
/* Contêiner principal da grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas iguais */
    gap: 20px; /* Espaçamento entre as colunas */
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Uma única coluna em telas menores */
    }
}

/* Estilo do item de imagem */
.image-item img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Bordas arredondadas */
    max-width: 100%; /* Garantir que a imagem não exceda o tamanho do contêiner */
}

.image-wrapper {
    background-color: #537A72;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    overflow: hidden; /* Para esconder qualquer parte do conteúdo que ultrapasse a borda */
}

/* Usando SVG para criar o efeito de onda */
.image-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px; /* Ajuste a altura das ondas conforme necessário */
    background: url('https://www.transparenttextures.com/patterns/zig-zag-2x.png');
    background-size: contain;
    border-radius: 0 0 20px 20px; /* Arredondamento nas bordas inferiores */
}

/* Estilo do conteúdo de texto */
.content-item {
    text-align: center; /* Centralizar o texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white; /* Removemos o fundo da coluna2 e passamos para content-item */
    border-radius: 20px;
}

/* Estilo da coluna2 */
.coluna2 {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px; /* Espaçamento entre a imagem e o conteúdo */
}

/* Estilo do botão */
button {
    margin-top: 10px;
    background-color: #537A72;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.img-coleira{
    width: 300px;
    height: 200px;
    border-radius: 10px; /* Bordas arredondadas */
    max-width: 100%; /* Garantir que a imagem não exceda o tamanho do contêiner */
}